@inject NavigationManager NavigationManager
@inject ISiteRequests SiteRequests
@inject IJSRuntime JsRuntime

<div @ref="_modalDeleteSite" class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="display: block">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Delete - @Site.Name</h5>
                <button type="button" @onclick="Close" style="border: none; background: none" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                @if (ErrorMessage != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ErrorMessage
                    </div>
                }
                <p>Are you sure you want to delete @Site.Name ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="Close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" disabled="@loading" @onclick="OnDeleteButtonClick" class="btn btn-danger">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                    } else
                    {
                        <span>Delete</span>
                    }
                </button>
            </div>
        </div>
    </div>
</div>

@code
{
    private bool loading = false;
    private string? ErrorMessage { get; set; }
    
    [Parameter]
    public Site Site { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    
    private ElementReference _modalDeleteSite;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JsRuntime.InvokeVoidAsync("ShowModal", _modalDeleteSite);
        }
    }

    private void Close()
    {
        JsRuntime.InvokeVoidAsync("HideModal", _modalDeleteSite);
        OnClose.InvokeAsync(true);
    }
    
    private async Task OnDeleteButtonClick()
    {
        loading = true;
        
        var result = await SiteRequests.DeleteSiteAsync(Site.Id);
        if (result is null)
        {
            ErrorMessage = "Something went wrong";
            loading = false;
            
            StateHasChanged();
            return;
        }
        
        Close();
        NavigationManager.NavigateTo("/sites");
    }
}