@inject IServiceRequests ServiceRequests
@inject ISessionValues SessionValues
@inject NavigationManager NavigationManager

<div class="modal-backdrop fade show"></div>

<div class="modal fade show" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="display: block">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Create a new Job</h5>
                <button type="button" @onclick="Close" style="border: none; background: none" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                @if (_errorMessage is not null)
                {
                    <div class="alert alert-danger" role="alert">
                        @_errorMessage
                    </div>
                }
                <form>
                    <div class="row justify-content-start">
                        <div class="col-6">
                            <div class="form-group mb-2">
                                <input aria-label="Name" value="@_name" @oninput="OnInputName" class="form-control" placeholder="Enter Name" name="Name"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group mb-2">
                                <input aria-label="LastName" value="@_description" @oninput="OnInputDescription" class="form-control" placeholder="Enter Description" name="Description"/>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mb-2">
                                <InputFile id="FileInput" _bl_2="" type="file" class="form-control" OnChange="@HandleFileUpload" accept="image/*" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="Close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" @onclick="CreateService" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public bool IsOpen { get; set; }

    private string? _errorMessage;

    private string? _name;
    private string? _description;
    private IBrowserFile? _file;

    private void Close()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }
    
    private void OnInputName(ChangeEventArgs e)
    {
        _name = e.Value?.ToString() ?? null;
        CheckRule(e);
    }
    
    private void OnInputDescription(ChangeEventArgs e)
    {
        _description = e.Value?.ToString() ?? null;
        CheckRule(e);
    }

    private void HandleFileUpload(InputFileChangeEventArgs e)
    {
        _file = e.File;
    }

    private async Task CreateService()
    {
        var multipartService = new MultipartFormDataContent();

        if (_name != null) multipartService.Add(new StringContent(_name), "Name");
        if (_description != null) multipartService.Add(new StringContent(_description), "Description");
        if (_file != null) multipartService.Add(new StreamContent(_file.OpenReadStream()), "Picture", _file.Name);

        var response = await ServiceRequests.AddServiceAsync(multipartService);
        if (response is null)
        {
            _errorMessage = "Job could not be created";
            return;
        }
        
        NavigationManager.NavigateTo($"/jobs/{response.Id}");
    }

    private void CheckRule(ChangeEventArgs e)
    {
        Console.WriteLine("CheckRule");
    }
}