@inject IServiceRequests ServiceRequests
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<div @ref="_modalEditService" class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="display: block">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Update a Job</h5>
                <button type="button" @onclick="Close" style="border: none; background: none" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                @if (_errorMessage is not null)
                {
                    <div class="alert alert-danger" role="alert">
                        @_errorMessage
                    </div>
                }
                <form>
                    <div class="row justify-content-start">
                        <div class="col-6">
                            <div class="form-group mb-2">
                                <input aria-label="Name" value="@_name" @oninput="OnInputName" class="form-control" placeholder="Enter Name" name="Name"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group mb-2">
                                <input aria-label="LastName" value="@_description" @oninput="OnInputDescription" class="form-control" placeholder="Enter Description" name="Description"/>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mb-2">
                                <InputFile id="FileInput" _bl_2="" type="file" class="form-control" OnChange="@HandleFileUpload" accept="image/*" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="Close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" @onclick="UpdateService" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public Service service { get; set; }
    
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    
    [Parameter]
    public EventCallback<bool> OnEdit { get; set; }
    
    private ElementReference _modalEditService;

    private string? _errorMessage;

    private string? _name;
    private string? _description;
    private IBrowserFile? _file;

    protected override void OnInitialized()
    {
        _name = service.Name;
        _description = service.Description;

        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JsRuntime.InvokeVoidAsync("ShowModal", _modalEditService);
        }
    }

    private void Close()
    {
        JsRuntime.InvokeVoidAsync("HideModal", _modalEditService);
        OnClose.InvokeAsync(true);
    }
    
    private void OnInputName(ChangeEventArgs e)
    {
        _name = e.Value?.ToString() ?? null;
        CheckRule(e);
    }
    
    private void OnInputDescription(ChangeEventArgs e)
    {
        _description = e.Value?.ToString() ?? null;
        CheckRule(e);
    }

    private void HandleFileUpload(InputFileChangeEventArgs e)
    {
        _file = e.File;
    }

    private async Task UpdateService()
    {
        var multipartService = new MultipartFormDataContent();

        if (_name != null) multipartService.Add(new StringContent(_name), "Name");
        if (_description != null) multipartService.Add(new StringContent(_description), "Description");
        if (_file != null) multipartService.Add(new StreamContent(_file.OpenReadStream()), "Picture", _file.Name);

        var response = await ServiceRequests.UpdateServiceAsync(service.Id, multipartService);
        if (response is null)
        {
            _errorMessage = "Site could not be created";
            return;
        }
        
        await OnEdit.InvokeAsync(true);
        Close();
    }

    private void CheckRule(ChangeEventArgs e)
    {
        Console.WriteLine("CheckRule");
    }
}