@page "/sites"
@inject HttpClient Http

<PageTitle>GuacaFactory - Sites</PageTitle>

<h1>Sites</h1>

<p>
    GuacaFactory's different sites are listed below.
</p>

@if (sites == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var site in sites)
            {
                <tr>
                    <td>@site.CreatedAt.ToShortDateString()</td>
                    <td>@site.Name</td>
                    <td>@site.Description</td>
                    <td>@site.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Site[]? sites;

    protected override async Task OnInitializedAsync()
    {
        sites = await Http.GetFromJsonAsync<Site[]>("sample-data/sites.json");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
