<div class="row h-100 justify-content-center align-content-center">
    <div class="col-auto">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>